.app {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.answer-box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: left;
}

.answer-box p {
  font-size: 1.2em;
}

/* Kysymys laatikko */
.app form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}